@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
    background: #f8f8f8;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;
    background-color: darkred;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
}

.header > h1 {
    margin: 0;
    color: white;
}

.episode-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    background: #2e3436;
    box-shadow: inset 20px 20px 60px #272c2e, inset -20px -20px 60px #353c3e;
    color: white;
}

.episode-count {
    text-align: center;
}

.episode-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 200px;
}

.shows-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.show-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 400px;
    margin: 20px;
    width: 60vw;
    border: none;
    padding: 0;
    overflow: hidden;

    border-radius: 50px;
    background: #2e3436;
    box-shadow: inset 20px 20px 60px #272c2e, inset -20px -20px 60px #353c3e;

    color: white;
}

.show-card:hover {
    cursor: pointer;
}

.show-card > img {
    max-height: inherit;
}

.show-card-info {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.show-card-info > h1 {
    margin: 0;
}

.show-card-info > hr {
    width: 100%;
}

.show-metadata {
    flex: 1 0 auto;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.show-metadata > ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.show-metadata > ul > li {
    list-style-type: none;
}

select,
input {
    width: auto;
    border-radius: 10px;
    background-color: white;
    border: none;
    box-shadow: 4px 4px 10px #9b9b9b66, -4px -4px 10px #ffffff66;
    padding: 5px 10px;
    font-size: 16px;
}
